<div class="container-fluid col-lg-10 col-lg-offset-1  col-md-10 col-md-offset-1 col-sm-12 col-xs-12 ">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <label> <i class="fa fa-graduation-cap" ></i> Painel Pedagógico: {{composite.name}} </label>
        </div>
        <div class="panel-body">
            <div class="container-fluid ">
                <div class=" col-lg-3 col-md-3 col-sm-6 col-xs-12 table-bordered ">
                    <!-- BASES -->
                    <div class="row bg-primary">
                        &nbsp;&nbsp;<i class="fa fa-street-view"></i> Áreas de Interação
                    </div>
                    <div class="row" ng-repeat="base in composite.vComBases"  ng-class-even="'bg-info'" ng-class-odd="">
                        <label>
                            <a title="{{base.description}}">{{base.name}}</a>
                        </label>
                    </div>
                    <!-- USERS -->
                    <div class="row bg-primary">
                        &nbsp;&nbsp;<i class="fa fa-user"></i> Usuários
                    </div>
                    <div class="row" ng-repeat="user in compositeUsers track by $index "  ng-class-even="'bg-info'" ng-class-odd="">
                        <label>
                            <a title="{{user.login}}">{{user.name}}</a>
                        </label>
                    </div>                    
                    <!-- PUBLICATION -->
                    <div class="row bg-primary">
                        &nbsp;&nbsp;<i class="fa fa-comments"></i> Publicações
                    </div>
                    <div class="row" ng-repeat="publication in compositePublications"  ng-class-even="'bg-info'" ng-class-odd="">
                        <label>
                            <a title="{{publication.user0.name}} : {{publication.upi0.content}}">{{publication.upi0.title}}</a>
                        </label>
                    </div>                    
                    
                    
                </div>
                <div class="col-lg-9 col col-md-9 col-sm-6 col-xs-12" >
                    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-lg-offset-1 col-sm-12 col-xs-12 bg-info">
                       <leaflet 
                           
                           width="640px" 
                           height="480px"  
                           markers="markers" 
                           center="center" 
                           controls="controls"
                           paths="paths"
                        ></leaflet>
                    </div>
                </div>
                
            </div>
        </div>        
    </div>        

</div>